body {
    display: flex;
    flex-direction: column;
    margin: 0; 
    padding: 0;
}

.header, .container1, .footer {
    background-color: #1F2937;
    color: white;
    padding: 10px;
}

a {
    color: white;
    text-decoration: none;
}

.header, .container1 {
    height: 72px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
}

.container1 {
    padding: 100px;
}

.container1.text {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons {
    display: flex;
}
