body {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0; 
    padding: 0;
}

.header, .first-section, .footer {
    background-color: #1F2937;
    color: white;
    padding: 10px;
}

a {
    color: white;
    text-decoration: none;
}

.header, .first-section {
    height: 72px;
    gap: 10px;
    justify-content: space-between;
}

.header {
    display: flex;
    padding-left: 200px;
    padding-right: 200px;
}

.first-section {
    display: flex;
    padding: 200px;
    padding-top: 150px;
    padding-bottom: 150px;
}

.text {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    justify-content: center;
}

.text button {
    padding: 1px;
    max-width: 100px;
}

.text p {
    width: 300px;
}

.first-section img {
    display: flex;
    margin-left: auto;
    align-self: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-icons {
    display: flex;
    width: 150px;
    height: 150px;
    gap: 50px;
    align-items: center;
    justify-content: center;
}    

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
}

.content-icons img {
    border-radius: 25px;
    border-width: 6px;
    border-style: solid;
    border-color: lightblue;
    width: 100px;
    height: 100px;
    margin: 10px;
}
