body {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0; 
    padding: 0;
}

html body > * {
    padding-left: 300px;
    padding-right: 300px;
}

.header, .first-section, .footer {
    background-color: #1F2937;
    color: white;
    padding: 10px;
    flex-wrap: nowrap;
}

a {
    color: white;
    text-decoration: none;
}

.header, .first-section {
    height: 72px;
    gap: 10px;
    justify-content: space-between;
}

.header {
    display: flex;
    padding-left: 300px;
    padding-right: 300px;
    font-size: 24px;
    color: #F9FAF8;
}

.first-section h1 {
    /* governs text for page title */
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin-bottom: 0px;
}

.first-section p, .header a{
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0px;
}

.first-section {
    display: flex;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 150px;
    padding-bottom: 150px;
}

.text {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    justify-content: center;
    margin: 0px;
}

.text button {
    padding: 1px;
    max-width: 100px;
    background-color:#3882F6;
    color:#F9FAF8;
}

.text p {
    width: 300px;
}

.first-section img {
    display: flex;
    margin-left: auto;
    align-self: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 80px;
}

.content h2 {
    font-size: 36px;
    font-weight: 800;
    color:#1F2937;
}

.content-icons {
    display: flex;
    width: 150px;
    height: 150px;
    gap: 50px;
    align-items: center;
    justify-content: center;
}    

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
}

.content-icons img {
    /* this creates border with rounded corners around images */
    border-radius: 25px;
    border-width: 6px;
    border-style: solid;
    border-color: lightblue;
    width: 100px;
    height: 100px;
    margin: 10px;
}

.second-section {
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
}

.second-section .quote {
    font-weight: lighter;
    font-style: italic;
}

.third-section {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.call-to-action {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 900px;
    height: 100px;
    background-color: #3882F6;
    color: #F9FAF8;
    border: 2px solid #3882F6;
    border-radius: 12px;
    padding: 20px;

}

.action-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.action-text p, h3 {
    padding: 0px;
    margin: 0;
}

.call-to-action button, .text button {
    border: 2px solid #E5E7EB;
    border-radius: 12px;
    padding: 5px;
    background-color: #3882F6;
    color: white;
}

.footer {
    display: flex;
    justify-content: center;
}